/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* transition: 3s ease-in-out; */
  margin: 0;
}

body {
  @apply bg-gray-900
}

.myvideoplayer {
  /* border-radius: 2rem !important; */
  /* overflow: hidden; */
  /* max-height: 70vh; */
  /* @apply lg:max-w-[80%]   */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-continuous {
  animation: spin 6s linear infinite paused;
}

.rotate-continuous:hover {
  animation-play-state: running;
}

/* body {
  min-height: 100vh;
  max-height: fit-content;
}
*/

#root {
  min-height: 100vh;
  height: fit-content;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.image-container::before,
.image-container::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 10%;
  background: rgb(226, 6, 6, 0);
  /* Adjust the shade color and opacity as needed */
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  transform: translateY(-100%);
  border-radius: 10px;
}

.image-container::before {
  top: -5%;
  /* Adjust the position of the first shade */
}

.image-container::after {
  top: 5%;
  /* Adjust the position of the second shade */
}

.two-line-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp:2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(1em * 2 * 1.5);
  /* 2 lines with 1.5 line height */
}



.loading-container-111 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it covers the entire page */
}

.loading-container-111 .spinner {
  width: 100px;
  height: 100px;
  animation: spin111 2s infinite;
}

.loading-container-111 .spinner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Animation keyframes */
@keyframes spin111 {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(90deg); animation-timing-function: ease-in; }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); animation-timing-function: ease-out; }
  100% { transform: rotate(360deg); animation-timing-function: ease-in-out; }
}
